@charset "utf-8";

/*=
  @group Components
  @name Content
  @author wanho1108 <wanho1108@gmail.com>
  @since 2019-03-06
*/

.content {
  position: relative;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.content__wrapper {
  padding-right: 5%;
  padding-left: 5%;
}

.content__summary {
  margin-top: 3em;
  margin-bottom: 3em;
}

.content__summary-heading {
  font-size: 2.875em;
  font-weight: 700;
  color: #2f373f;
  margin-bottom: .4347em;
  letter-spacing: -.01em;
}

.content__summary-description {
  font-size: 1.25em;
}