@charset "utf-8";

/*=
  @group Components
  @name Content
  @author wanho1108 <wanho1108@gmail.com>
  @since 2019-10-22
*/

.skip-navigation {

}

.skip-navigation__anchor {
  overflow: hidden;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  clip: rect(0 0 0 0);
  text-align: center;

  &:focus,
  &:active {
    width: auto;
    height: 2.5714em;
    right: 0;
    font-size: .875em;
    color: #495057;
    background-color: $color-light-gray;
    line-height: 2.4286em;
    clip: auto;
  }
}